.hero {
  @include flex-center;
  flex-wrap: wrap-reverse;
  gap: 1rem;
  .hero-image {
    // margin-top: $marginEveryPage;
    .hero-main-stone {

      background-image: url(../img/sections/hero/main.webp);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  button {
    padding: .8rem 3rem;
    margin-top: 1rem;
    margin-bottom: $marginEveryPage;
  }
}