.shipping {
  position: relative;

  .shipping-text {
    margin-block: $marginEveryPage;
  }

  .shipping-annotation {
    margin-block: $marginEveryPage;
  }
  .shipping-images {
    padding: 2rem;
    display: grid;
    gap: 2rem;
    justify-items: center;

    .buy-img {
      transition: 250ms ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }

    .shipping-img {
      transition: 250ms ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .shipping-deco {
    @include deco;
    left: 10%;
    background-color: $colorDark;
    transform: rotate(45deg);
  
    .shipping-deco-inner {
      @include deco-inner;
      background-color: $colorLight;
      transition: 150ms cubic-bezier(0.42, 0, 0.62, 1.99);
  
      &:active {
        transform: skew(18deg, 18deg);
      }
    }
  }
}