// Color

$colorDark: #3C3C3C;
$colorLight: #F8F8F8;
$colorAccent: #6d16be;

// Font Size

$fontSizeTitle: clamp(5rem, 12vw + 2rem, 11.5rem);
$fontSizeH2: clamp(4rem, 12vw + 0.2rem, 6rem);
$fontSizeH3: clamp(2rem, 12vw + 0.2rem, 4rem);
$fontSizeNav: 1.8rem;
$fontSizeMain: 1.5rem;

// Font Weight

$fontWeightTitle: 800;
$fontWeightH2: 700;
$fontWeightH3: 600;
$fontWeightNav: 500;

// Margin & Pading

$marginBot: 1rem;
$marginTop: 1rem;

$marginEveryPage: 5rem;